body{
  display: flex;
  background-image: url(../Images/BackgroundLogin.jpg);
  background-position: center top;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
}

main{
  display: flex;
  width: 100%;
  border-radius: 10px;
  max-width: 900px;
  margin: auto;
  justify-content: left;
  background-color: white;
  border: 1px solid gray;
}

main #Image{
  width: 40%;
  border-radius: 10px 0 0 10px;
}

#Image img{
  width: 80%;
  padding-left: 20%;
}

main #TextBox{
  width: 60%;
  padding-bottom: 20px;
  text-align: center;
  min-height: 500px;
}

main h1{
  color: black;
  font-size: 30px;
}

main form{
  display: inline-block;
}

.username, .password, .remember, .accedi, .signup, .confirm_password, .register{
  padding: 5px;
}

.error{
  color:brown;
}

@media(max-width: 900px){
  main{
    flex-direction: column;
    align-items: center;
  }

  #Image img{
    padding-left: 0px;
  }

  #Image{
    display: flex;
    justify-content: center;
  }
}